[Unit]
Description=Jboss Application Server
After=network.target

[Service]
Type=idle
Environment=JBOSS_HOME={{ keycloak_jboss_home }} JBOSS_LOG_DIR={{ keycloak_log_dir }} "JAVA_OPTS=-Xms1024m -Xmx20480m -XX:MaxPermSize=768m"
ExecStart={{ keycloak_jboss_home }}/bin/standalone.sh -b {{ ansible_default_ipv4.address }}
User=keycloak
Group=keycloak
TimeoutStartSec=600
TimeoutStopSec=600 

[Install]
WantedBy=multi-user.target